//////////////////////////////
// Imports
//////////////////////////////
@import 'color-schemer';
@import "compass/css3";
@import "compass/typography";
@import "singularitygs";
@import "toolkit";

//////////////////////////////
// Configuration and variables
//////////////////////////////


// Font stacks
$helvetica: "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, "Nimbus Sans L", sans-serif;
$fira-sans: "Fira Sans", $helvetica;


// Colours
$identity-hue:    170;
$identity-color:  hsl($identity-hue, 80%, 42%);

$white          : tint($identity-color, 95%);
$black          : shade($identity-color, 75%);

$link           : hsl($identity-hue, 57%, 37%);
$hover          : hsl($identity-hue, 37%, 47%);
$visited        : $link;
$selection-bg   : $identity-color;
$selection      : $white;
$light-grey     : tint($identity-color, 85%);
$medium-grey    : hsl($identity-hue, 5%, 73%);
$dark-grey      : hsl($identity-hue, 9%, 37%);
$firebrick      : #b22222;
$amber          : #ff7e00;


// Grid configuration
@include add-grid(12);
@include add-gutter(1/3);
@include add-gutter-style('split');
