// Page/sidewide styling. HTML elements, headers, footers and other
// common things.

@import "compass/typography/links/link-colors";

body {
  background-color: $white;
  color: $black;
  font-family: $fira-sans;
  margin: 0;
  padding: 0;
}

a {
  @include link-colors($link, $hover);
}

.site-header {
  background-color: $identity-color;
  color: white;
}

.site-header-content {
  @extend %centered-content;
  @include clearfix(true);

  h1 {
    margin: 0;
  }
}

main {
  @extend %centered-content;
}
