// Page/sidewide styling. HTML elements, headers, footers and other
// common things.

body {
  background-color: $light-grey;
  color: $black;
  font-family: $fira-sans;
  font-size: ms(0);
  margin: 0;
  padding: 0;
}

h5 { font-size: ms(1); }
h4 { font-size: ms(1.5); }
h3 { font-size: ms(2); }
h2 { font-size: ms(2.5); }
h1 { font-size: ms(3); }

a {
  @include link-colors($link, $hover);
}

.site-header {
  background-color: $identity-color;
  color: $white;
}

.site-header-content {
  @extend %centered-content;

  h1 {
    @include single-text-shadow(rgba($black, 0.5), 1px, 1px, 1px);
    margin: 0;

    a {
      color: $white;
      text-decoration: none;
    }
  }
}

.main-container {
  @extend %centered-content;
  @include border-bottom-radius(0.5rem);
  @include single-box-shadow(0, 1px, 5px, false, rgba($black, 0.3));

  background-color: $white;
  color: $black;
}

.main-column {
  @include grid-span(8, 1);
}

.sidebar-column {
  @include grid-span(4, 9);
}

form {
  > label {
    display: block;
    margin-bottom: 0.5rem;

    .ember-text-field {
      margin-left: 1em;
    }

    textarea {
      display: block;
    }
  }
}
