// Page/sidewide styling. HTML elements, headers, footers and other
// common things.

body {
  background-color: $light-grey;
  color: $black;
  font-family: $fira-sans;
  margin: 0;
  padding: 0;
}

a {
  @include link-colors($link, $hover);
}

.site-header {
  background-color: $identity-color;
  color: $white;
}

.site-header-content {
  @extend %centered-content;
  @include clearfix(true);

  h1 {
    @include single-text-shadow(rgba($black, 0.5), 1px, 1px, 1px);
    margin: 0;
  }
}

main {
  @extend %centered-content;
  @include border-bottom-radius(0.5rem);
  @include single-box-shadow(rgba($black, 0.3), 0, 1px, 5px);

  background-color: $white;
  color: $black;
}
