/* line 1, ../sass/partials/_extendables.scss */
.site-header-content, .main-container {
  margin: 0 auto;
  max-width: 960px;
  padding: 1rem 1.5rem;
}
/* line 13, ../../../../../../../gems/gems/toolkit-2.5.2/stylesheets/toolkit/_clearfix.scss */
.site-header-content:after, .main-container:after {
  content: "";
  display: table;
  clear: both;
}

/* line 4, ../sass/partials/_global.scss */
body {
  background-color: #dbf5f1;
  color: #053029;
  font-family: "Fira Sans", "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, "Nimbus Sans L", sans-serif;
  font-size: 14px;
  margin: 0;
  padding: 0;
}

/* line 13, ../sass/partials/_global.scss */
h5 {
  font-size: 1.2rem;
}

/* line 14, ../sass/partials/_global.scss */
h4 {
  font-size: 1.4rem;
}

/* line 15, ../sass/partials/_global.scss */
h3 {
  font-size: 1.6rem;
}

/* line 16, ../sass/partials/_global.scss */
h2 {
  font-size: 1.8rem;
}

/* line 17, ../sass/partials/_global.scss */
h1 {
  font-size: 2.0rem;
}

/* line 19, ../sass/partials/_global.scss */
a {
  color: #299482;
}
/* line 24, ../../../../../../../gems/gems/compass-core-1.0.0.rc.1/stylesheets/compass/typography/links/_link-colors.scss */
a:hover {
  color: #4ca495;
}

/* line 23, ../sass/partials/_global.scss */
.site-header {
  background-color: #15c1a4;
  color: #f3fbfa;
}

/* line 31, ../sass/partials/_global.scss */
.site-header-content h1 {
  text-shadow: 1px 1px 1px rgba(5, 48, 41, 0.5);
  margin: 0;
}
/* line 35, ../sass/partials/_global.scss */
.site-header-content h1 a {
  color: #f3fbfa;
  text-decoration: none;
}

/* line 42, ../sass/partials/_global.scss */
.main-container {
  -moz-border-radius-bottomleft: 0.5rem;
  -webkit-border-bottom-left-radius: 0.5rem;
  border-bottom-left-radius: 0.5rem;
  -moz-border-radius-bottomright: 0.5rem;
  -webkit-border-bottom-right-radius: 0.5rem;
  border-bottom-right-radius: 0.5rem;
  -moz-box-shadow: 0 1px 5px rgba(5, 48, 41, 0.3);
  -webkit-box-shadow: 0 1px 5px rgba(5, 48, 41, 0.3);
  box-shadow: 0 1px 5px rgba(5, 48, 41, 0.3);
  background-color: #f3fbfa;
  color: #053029;
}

/* line 51, ../sass/partials/_global.scss */
.main-column {
  width: 64.58333%;
  float: left;
  margin-right: -100%;
  margin-left: 1.04167%;
  clear: none;
}

/* line 55, ../sass/partials/_global.scss */
.sidebar-column {
  width: 31.25%;
  float: right;
  margin-left: 0;
  margin-right: 1.04167%;
  clear: none;
}

/* line 60, ../sass/partials/_global.scss */
form > label {
  display: block;
  margin-bottom: 0.5rem;
}
/* line 64, ../sass/partials/_global.scss */
form > label .ember-text-field {
  margin-left: 1em;
}
/* line 68, ../sass/partials/_global.scss */
form > label textarea {
  display: block;
}

/* line 5, ../sass/partials/content/_bookmarks.scss */
.bookmark-list {
  list-style: none;
  padding: 0;
}
/* line 11, ../../../../../../../gems/gems/compass-core-1.0.0.rc.1/stylesheets/compass/typography/lists/_bullets.scss */
.bookmark-list li {
  list-style-image: none;
  list-style-type: none;
  margin-left: 0;
}

/* line 11, ../sass/partials/content/_bookmarks.scss */
.bookmeister-bookmark {
  margin-bottom: 1rem;
}
/* line 14, ../sass/partials/content/_bookmarks.scss */
.bookmeister-bookmark .title {
  font-size: 1.1rem;
  text-decoration: none;
}
/* line 19, ../sass/partials/content/_bookmarks.scss */
.bookmeister-bookmark .metadata {
  font-size: 0.8rem;
}
/* line 22, ../sass/partials/content/_bookmarks.scss */
.bookmeister-bookmark .metadata time {
  color: #566764;
}
/* line 26, ../sass/partials/content/_bookmarks.scss */
.bookmeister-bookmark .metadata a {
  color: #7fa49e;
  display: inline-block;
  padding-left: 0.5rem;
  text-decoration: none;
}
/* line 24, ../../../../../../../gems/gems/compass-core-1.0.0.rc.1/stylesheets/compass/typography/links/_link-colors.scss */
.bookmeister-bookmark .metadata a:hover {
  color: #4ca495;
}

/* line 5, ../sass/partials/content/_pagination.scss */
.pagination-centered {
  text-align: center;
}

/* line 9, ../sass/partials/content/_pagination.scss */
.pagination {
  padding: 0;
}
/* line 12, ../sass/partials/content/_pagination.scss */
.pagination > li {
  display: inline-block;
  list-style-type: none;
}
/* line 17, ../sass/partials/content/_pagination.scss */
.pagination a {
  border-radius: 3px;
  cursor: pointer;
  display: block;
  font-size: 16px;
  padding: 0 2px;
  background-color: #15c1a4;
  color: #f3fbfa;
}
/* line 27, ../sass/partials/content/_pagination.scss */
.pagination a:hover {
  background-color: #10937d;
}
