/* line 1, ../sass/partials/_extendables.scss */
.site-header-content, .main-container {
  margin: 0 auto;
  max-width: 960px;
  padding: 1rem 1.5rem;
}
/* line 13, ../../../../../../../gems/gems/toolkit-2.5.2/stylesheets/toolkit/_clearfix.scss */
.site-header-content:after, .main-container:after {
  content: "";
  display: table;
  clear: both;
}

/* line 4, ../sass/partials/_global.scss */
body {
  background-color: #dbf5f1;
  color: #053029;
  font-family: "Fira Sans", "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, "Nimbus Sans L", sans-serif;
  margin: 0;
  padding: 0;
}

/* line 12, ../sass/partials/_global.scss */
a {
  color: #299482;
}
/* line 24, ../../../../../../../gems/gems/compass-core-1.0.0.rc.1/stylesheets/compass/typography/links/_link-colors.scss */
a:hover {
  color: #4ca495;
}

/* line 16, ../sass/partials/_global.scss */
.site-header {
  background-color: #15c1a4;
  color: #f3fbfa;
}

/* line 24, ../sass/partials/_global.scss */
.site-header-content h1 {
  text-shadow: 1px 1px 1px rgba(5, 48, 41, 0.5);
  margin: 0;
}

/* line 30, ../sass/partials/_global.scss */
.main-container {
  -moz-border-radius-bottomleft: 0.5rem;
  -webkit-border-bottom-left-radius: 0.5rem;
  border-bottom-left-radius: 0.5rem;
  -moz-border-radius-bottomright: 0.5rem;
  -webkit-border-bottom-right-radius: 0.5rem;
  border-bottom-right-radius: 0.5rem;
  -moz-box-shadow: 0 1px 5px rgba(5, 48, 41, 0.3);
  -webkit-box-shadow: 0 1px 5px rgba(5, 48, 41, 0.3);
  box-shadow: 0 1px 5px rgba(5, 48, 41, 0.3);
  background-color: #f3fbfa;
  color: #053029;
}

/* line 39, ../sass/partials/_global.scss */
.main-column {
  width: 64.58333%;
  float: left;
  margin-right: -100%;
  margin-left: 1.04167%;
  clear: none;
}

/* line 43, ../sass/partials/_global.scss */
.sidebar-column {
  width: 31.25%;
  float: right;
  margin-left: 0;
  margin-right: 1.04167%;
  clear: none;
}

/* line 48, ../sass/partials/_global.scss */
form > label {
  display: block;
  margin-bottom: 0.5rem;
}
/* line 52, ../sass/partials/_global.scss */
form > label .ember-text-field {
  margin-left: 1em;
}
/* line 56, ../sass/partials/_global.scss */
form > label textarea {
  display: block;
}
