/* line 6, ../sass/partials/_global.scss */
body {
  background-color: #f1f4f3;
  color: #0c0e0d;
  font-family: "Fira Sans", "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, "Nimbus Sans L", sans-serif;
  margin: 0;
  padding: 0;
}

/* line 13, ../sass/partials/_global.scss */
a {
  color: #299482;
}
/* line 24, ../../../../../../../gems/gems/compass-core-1.0.0.rc.1/stylesheets/compass/typography/links/_link-colors.scss */
a:hover {
  color: #4ca495;
}

/* line 17, ../sass/partials/_global.scss */
.site-header {
  background-color: #15c1a4;
  color: white;
  padding: 1rem;
}
/* line 13, ../../../../../../../gems/gems/toolkit-2.5.2/stylesheets/toolkit/_clearfix.scss */
.site-header:after {
  content: "";
  display: table;
  clear: both;
}

/* line 25, ../sass/partials/_global.scss */
main {
  padding: 1rem;
}
