{{#if controller.length}}
<ul class="bookmark-list">
  {{#each controller}}
    <li>
      {{#link-to 'bookmarks.bookmark' this}}
        {{url}}
      {{/link-to}}
    </li>
  {{/each}}
</ul>
{{/if}}

{{controller.length}} bookmarks found.

<div>
  {{#link-to 'bookmarks.new'}}
    Create new bookmark
  {{/link-to}}
</div>

{{outlet}}
