{{#if model.length}}
<ul class="bookmark-list">
  {{#each model}}
    <li class="bookmeister-bookmark">
      <a class="title" {{bind-attr href=url}}>
        {{displayName}}
      </a>

      <div class="metadata">
        {{date-stamp createdAt}}

        {{#link-to 'bookmarks.edit' this}}edit{{/link-to}}
        {{#link-to 'bookmarks.delete' this}}delete{{/link-to}}
      </div>
    </li>
  {{/each}}
</ul>
{{/if}}

{{model.length}} bookmarks found.
