{{#if model.length}}
<ul class="bookmark-list">
  {{#each bookmark in model}}
    <li class="bookmeister-bookmark">
      <a class="title" {{bind-attr href=bookmark.url}}>
        {{bookmark.displayName}}
      </a>

      <div class="metadata">
        {{date-stamp bookmark.createdAt}}

        {{#link-to 'bookmarks.edit' bookmark}}edit{{/link-to}}
        {{#link-to 'bookmarks.delete' bookmark}}delete{{/link-to}}
      </div>
    </li>
  {{/each}}
</ul>
{{/if}}

{{model.length}} bookmarks found.
