//////////////////////////////
// Styling for the bookmarks section
//////////////////////////////

.bookmark-list {
  padding: 0;

  > li {
    list-style-type: none;
  }
}

.bookmeister-bookmark {
  margin-bottom: 1rem;

  .title {
    font-size: 1.1rem;
    text-decoration: none;
  }

  .metadata {
    font-size: 0.8rem;

    time {
      color: $dark-grey;
    }

    a {
      color: $muted-link;
      display: inline-block;
      padding-left: 0.5rem;
      text-decoration: none;

      &:hover {
        color: $hover;
      }
    }
  }
}
