<main class="main-column">
  {{outlet}}
</main>

<div class="sidebar-column">
  <form class="new-bookmark-form">
    <h4>Add new bookmark</h4>

    <label class="url">
      URL
      {{input value=newBookmarkURL class="url" type="url"}}
    </label>

    <button {{action 'saveNewBookmark'}} class="primary-action save">
      Save new bookmark
    </button>
  </form>
</div>
