<h2>Delete bookmark {{displayName}}?</h2>

<button {{action 'cancel'}} class="cancel">
  Cancel
</button>

<button {{action 'confirmDeletion'}} class="primary-action delete">
  Confirm deletion
</button>
