{{#if controller.length}}
<ul class="bookmark-list">
  {{#each controller}}
    <li class="bookmeister-bookmark">
      <a class="title" {{bind-attr href=url}}>
        {{displayName}}
      </a>

      <div class="metadata">
        {{#link-to 'bookmarks.edit' this}}edit{{/link-to}}
      </div>
    </li>
  {{/each}}
</ul>
{{/if}}

{{controller.length}} bookmarks found.
