// Styling for forms.

form {
  > label {
    display: block;
    margin-bottom: 0.5rem;

    .field-title {
      display: block;
      font-weight: bold;
    }

    .ember-text-field, textarea {
      display: block;
    }
  }
}
